services:
  - type: web
    name: meteoapp-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: RAPIDAPI_KEY
        sync: false
      - key: WEATHER_API_KEY
        sync: false
